pandas~=2.3.1
numpy~=1.26.4
sklearn~=0.0.post10
scikit-learn~=1.7.1
rdkit~=2023.9.6
xgboost~=2.0.3
networkx~=2.8.8
ase~=3.23.0
dscribe~=2.1.1
mordred~=1.2.0
seaborn~=0.13.2
matplotlib~=3.10.3
mol2chemfigPy3~=1.5.11
tqdm~=4.67.1
joblib~=1.5.1
torch~=2.2.2
lightning~=2.5.2
chemprop~=2.2.0